<div class='maincontainer'>
  <div class='loadExcelInput'>
    <p>Subir archivo Excel</p>
    <input type="file" name="files[]" multiple id="jsonFile" accept=".xlsx" (change)="onFileChange($event)" />
  </div>
  <div class='exportExcel'> 

    <p *ngIf="arrayDataJson.length != 0 ">
      {{arrayDataJson | json}}                                                            
    </p>
    <!-- <p>Save Excel File</p> -->
    <!-- <button (click)="onClickMe($event)">Save Excel!</button> -->
  </div>
</div>
